// White
$white: #FFFFFF;

// Gray
$gray-1: #F8F8F8;
$gray-2: #F4F4F4;
$gray-3: #6F7B89;
$gray-4: #516075;
$gray-5: #9EAAB6;
$gray-6: #EEF6F9;
$gray-7: #E2EDF3;
$gray-8: #C3D1DA;
$gray-9: #E5E5E5;
$gray-10: #B9C1B9;

//Black 
$black: #0A0903;

// Blue
$blue: #4169E1;

// Red
$red: #DC143C;

// Green
$green: #15BC21;